*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    background-color: #FEFCF3;
    text-align: center;
    font-size: 1.7vw;
    color:#40bad5 ;
}
.container{
    width: 85vw;
    height: 88vh;
    color:#fa1e0e ;
    background-color: #035aa6;
    margin: auto;
    margin-top: 1vh;
    padding: 20px 50px; 
    display: flex;
    border-radius: 6px  ;  
 
    justify-content: space-around;
    
    align-items: flex-end;
}
.control {
    margin-top: 7px;
    display: flex;
    justify-content:space-around;
     
    flex-wrap:wrap;
    align-content: space-between;
    align-items: center;
}
.rangecontrol{
    display:flex;
     
    justify-content: flex-end;
   
   
}
.enable-control{
    margin-top: 7px;
    display: flex;
    justify-content:space-around;
    flex-wrap:wrap;
    align-content: space-between;
    align-items: center;
 
}
 .desabled{
    display: none;
 }
input[type=button]{
    
    padding:3px 5px;
    margin-bottom: 8px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #120136;
    /* border:none; */
    font-size: 1.7vw;
}
input:hover{
    border: 1px solid #fa1e0e;
    /* background-color: #bd2000; */
   
}

::-webkit-scrollbar-thumb{
   
    background-color: #497285;
    
    border-radius: 10px;
}
::-webkit-scrollbar{
    background-color: #FEFCF3;
    width: 5px;
}
 
