*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    background-color: #FEFCF3;
    text-align: center;
    font-size: 1.7vw;
    color:#F49D1A ;
}
.container{
    width: 85vw;
    height: 88vh;
    color:#F49D1A ;
    background-color: #497285;
    margin: auto;
    margin-top: 3vh;
    padding: 20px 50px; 
    display: flex;
    border-radius: 6px  ;  
 
    justify-content: space-around;
    
    align-items: flex-end;
}
.control{
    margin-top: 7px;
    display: flex;
    justify-content:space-around;
    flex-wrap:wrap;
    align-content: space-between;
    align-items: center;
}
.rangecontrol{
    display:flex;
     
    justify-content: flex-end;
   
   
}
.enable-control{
    margin-top: 7px;
    display: flex;
    justify-content: space-around;
 
    align-content: space-between;
    align-items: center;
}
 .desabled{
    display: none;
 }
input[type=button]{
    
    padding:1px 9px;
    height: 25px;
    border-radius: 4px;
    
    border:none;
    font-size: 1.7vw;
}
input[type=button]:hover{
    border: 1.5px solid #F49D1A;
}

 
